@charset "utf-8"


;body{
    background-color: crimson;
    font-family: sans-serif;
    font-size: 20px;
}
h1{
    color: yellow;
    background-color: rgb(56, 68, 5);}
h2{
    color: white;}
p{
    text-align: justify;
}